@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    box-sizing: border-box;
}
::-webkit-scrollbar{
    width: 0;
    background-color: transparent;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}
a{
    display: inline-block;
    color: #000000;
}
body{
    margin: 0;
    padding: 0;
    font-family: "Inter", serif;
}
.main{
    background: url(assets/zvezda.png) center center no-repeat, #235390;
}
.cap{
    display: flex;
    justify-content: space-between;
    padding: 20px 230px;
    gap: 50px;
}
.eng{
    font-size: 19px;
    color: white;
    text-align: center;
    display: flex;
    gap: 5px;
}
.start{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    height: 84vh;
}
.button-13 {
  background-color: #58CC02;
  border: 1px solid #58CC02;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember",sans-serif;
  font-size: 13px;
  line-height: 29px;
  padding: 0 10px 0 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 340px;
  height: 46px;
}

.button-13:hover {
  background-color: #00000048;
}

.button-13:focus {
  border-color: #008296;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  outline: 0;
}
.button-14 {
    background-color: #235390;
    border: 1px solid #042C60;
    border-radius: 16px;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: "Amazon Ember",sans-serif;
    font-size: 13px;
    line-height: 29px;
    padding: 0 10px 0 11px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    width: 340px;
    height: 46px;
  }
  
  .button-14:hover {
    background-color: #00000048;
  }
  
  .button-14:focus {
    border-color: #008296;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    outline: 0;
  }
  .pravo{
    display: flex;
    flex-direction: column;
    gap: 18px;
    align-items: center;
  }
  .start-text{
    color: white;
    text-align: center;
    display: flex;
    font-size: 37px;
    margin-bottom: 25px;
  }
  .dom{
    background-color: #0A4A82;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    color: white;
    font-size: 12px;
  }
  .language{
    font-weight: 500;
  }
  .base{
    height: auto;
    width: 80vw;
    margin: 3em auto;
    display: flex;
    flex-direction: column;
    }
    .bird{
      display: flex;
      gap: 60px;
      border-bottom: solid 2px rgba(0, 0, 0, 0.13);
      padding: 0px 70px 50px 70px;
    }
    .learning{
      display: flex;
      justify-content: center;
      margin-bottom: 50px;
    }
    .right{
      display: flex;
      flex-direction: column;
      gap: 30px;
    }
    .che{
      color: #000000;
    }
    .bird-text{
      color: #0000009f;
    }
    .learning{
      margin-top: 50px;
    }
    .effect{
      display: flex;
      justify-content: space-around;
      padding-bottom: 50px;
      border-bottom: solid 2px rgba(0, 0, 0, 0.089);
    }
    .comp{
      display: flex;
      align-items: center;
    }
    .card{
      display: flex;
      gap: 15px;
      margin-bottom: 10px;
    }
    .i{
      height: 25px;
    }
    .conbining{
      margin: 30px;
    }
    .effect-text{
      color: #00000094;
    }
    .latest{
      color: #1CB0F6;
    }
    .birder{
      display: flex;
      gap: 60px;
      border-bottom: solid 2px rgba(0, 0, 0, 0.144);
      padding: 50px 70px 50px 70px;
    }
    .bird-text0{
      color: #1CB0F6;
    }
    .plot{
      display: flex;
      gap: 150px;
      border-bottom: solid 2px rgba(0, 0, 0, 0.123);
      padding: 50px 70px 50px 70px;
    }
    .link{
      display: flex;
      gap: 15px;
    }
    .white{
      height: 54px;
      width: 170px;
      border-radius: 16px;
      display: flex;
      padding-left: 10px;
      align-items: center;
      border: solid 3px rgba(0, 0, 0, 0.144);
      gap: 5px;
    }
    .text-app{
      color: #4B4B4B;
      margin: 3px;
      font-size: 11px;
    }
    .basement{
      height: 100vh;
      background: url(assets/zvezda.png) center center no-repeat, #235390;
    }
    
.footer{
  height: auto;
  background: url(assets/zvezda.png) center center no-repeat, #235390;
  background-size: cover;
  display: flex;
  flex-direction: column;
  color: white;
}
.colorfull{
  width: 80vw;
  flex-direction: column;
  display: flex;
  margin: 3em auto;
}
.starting{
  height: 46px;
  padding: 20px;
  border-color: transparent;
  border-radius: 15px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(8, 231, 8);
}
.learn_duo{
  display: flex;
  color: white;
  gap: 50px;
}
.linki{
  text-decoration: none;
  font-size: 17px;
  color: rgba(255, 255, 255, 0.438);
}
.link{
  display: flex;
  justify-content: space-between;
}
.paragraph{
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.name{
  padding: .3em 0em;
}
#soc{
  padding-top: 1em;
}
.learn_duo{
  padding: 3em 0 6em 0;
  align-items: center;
  display: flex;
  justify-content: center;
}
.site{
  display: flex;
  padding-top: 5em;
  flex-direction: column;
  gap: 20px;
}
.languages_contener{
  display: flex;
  gap: 25px;
}
.languagee{
  font-size: 17px;
  color: rgba(255, 255, 255, 0.418);
  margin-top: 15px;
}